/* Styles */
.title{
  font-size: var(--font-size-double-large);
  font-family:var(--font-family-primary);
  font-weight: var(--font-weight-bold);
}

.subtitle{
  font-size: var(--font-extra-large);
  font-family:var(--font-family-primary);
}

.simple_text{
  font-size: var(--font-size-medium);
  font-family:var(--font-family-secondary);
  font-weight: var(--font-weight-default);
}

.caption{
  font-size: var(--font-size-small);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-lighter);
}

/* Position */
.UpperCase{text-transform: uppercase;}

.dashed{text-decoration: dashed;}
.underline{text-decoration: underline;}

.center{ text-align: center;}
.right{ text-align:right;}

.padding-lg{ padding: var(--spacing-extra-large);}
.padding-md{ padding: var(--spacing-medium);}
.padding-sm{ padding: var(--spacing--extra-small);}

.margin-lg{ margin: var(--spacing-extra-large);}
.margin-md{ margin: var(--spacing-medium);}
.margin-sm{ margin: var(--spacing-extra-small);}