.base-card{
    margin: 5px auto;
    padding:var(--spacing-double-small);
    aspect-ratio: 7/2;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.tag-types{
    max-width: 60px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: var(--font-family-primary);
    color: var(--font-color-white);
    text-shadow: 1px 1px black;
}
.tag-stats{
    max-width: 70px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color:var(--type-color-steel);
    font-family: var(--font-family-primary);
}
.tag-filter{
    max-width: 40px;
    border-radius: 9px;
    font-size: var(--font-size-small);
    font-family: var(--font-family-secondary);
    background-color:var(--color-ghost);
}