.btn-base{
    text-transform: uppercase;
    font-weight:var(--font-weight-bold);
    margin: var(--spacing-small);
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* Variants */
.btn-primary{
    background-color: var(--color-primary);
    color: var(--font-color-white); 
}

.btn-secondary{
    background-color: var(--color-secondary);
    color: var(--font-color-white); 
}

.btn-danger{
    background-color: var(--color-danger);
    color: var(--font-color-white);
    font-weight:var(--font-weight-bold);
}

.btn-ghost{
    background-color: var(--color-ghost);
    color: var(--font-color-default);
    font-weight: var(--font-weight-light);
}

/* Sizes */
.btn-large{
    padding: var(--spacing-small);
    border-radius: var(--spacing-medium);
    font-size: var(--font-size-medium);
}

.btn-medium{
    padding: var(--spacing-extra-small);
    border-radius: var(--spacing-small);
    font-size: var(--font-size-small);
}