.img-base{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit:cover;
    object-position: center;
    margin:var(--spacing-extra-small);
}

.img-logo{
    height: 100px;
    aspect-ratio: 1/1;
}
.img-display{
    height: 350px;
    aspect-ratio: 4/2;
}
.img-card{
    height: 200px;
    aspect-ratio: 1/1;
}